<% include header.ejs %>
<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl"><strong class="am-text-primary am-text-lg">我的资源</strong> / <small>Person Class</small></div>
        </div>

        <hr/>

        <div class="am-g">
        <div class="am-u-sm-12">
            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-form-group">
                    <select data-am-selected="{btnSize: 'sm'}">
                        <option value="option1">所属课程</option>
                        <option value="option2">必修课</option>
                        <option value="option3">限选课</option>
                        <option value="option3">公选课</option>
                        <option value="option3">体育课</option>
                    </select>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <input type="text" class="am-form-field">
                      <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button">搜索</button>
                      </span>
                </div>
            </div>
        </div>


        <div class="am-u-sm-12">
        <form class="am-form">
        <table class="am-table am-table-striped am-table-hover table-main">
        <thead>
        <tr>
            <th>上传教师</th><th>所属课程</th></th><th>上传资源</th><th>上传时间</th><th>相关操作</th>
        </tr>
        </thead>
        <tbody>
        <tr><td><a href="#">John Clark</a></td><td><a href="#">软件需求管理</a></td><td><a href="#">课程公共资源</a></td> <td>2014年9月4日 7:28:47</td>
            <td>
                <div class="am-dropdown" data-am-dropdown>
                    <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                    <ul class="am-dropdown-content">
                        <li><a href="#">1.打开</a></li>
                        <li><a href="#">2.转发</a></li>
                        <li><a href="#">3.删除</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr><td><a href="#">John Clark</a></td><td><a href="#">软件需求管理</a></td><td><a href="#">课程公共资源</a></td> <td>2014年9月4日 7:28:47</td>
            <td>
                <div class="am-dropdown" data-am-dropdown>
                    <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                    <ul class="am-dropdown-content">
                        <li><a href="#">1.打开</a></li>
                        <li><a href="#">2.转发</a></li>
                        <li><a href="#">3.删除</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr><td><a href="#">John Clark</a></td><td><a href="#">软件需求管理</a></td><td><a href="#">课程公共资源</a></td> <td>2014年9月4日 7:28:47</td>
            <td>
                <div class="am-dropdown" data-am-dropdown>
                    <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                    <ul class="am-dropdown-content">
                        <li><a href="#">1.打开</a></li>
                        <li><a href="#">2.转发</a></li>
                        <li><a href="#">3.删除</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr><td><a href="#">John Clark</a></td><td><a href="#">软件需求管理</a></td><td><a href="#">课程公共资源</a></td> <td>2014年9月4日 7:28:47</td>
            <td>
                <div class="am-dropdown" data-am-dropdown>
                    <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                    <ul class="am-dropdown-content">
                        <li><a href="#">1.打开</a></li>
                        <li><a href="#">2.转发</a></li>
                        <li><a href="#">3.删除</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr><td><a href="#">John Clark</a></td><td><a href="#">软件需求管理</a></td><td><a href="#">课程公共资源</a></td> <td>2014年9月4日 7:28:47</td>
            <td>
                <div class="am-dropdown" data-am-dropdown>
                    <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                    <ul class="am-dropdown-content">
                        <li><a href="#">1.打开</a></li>
                        <li><a href="#">2.转发</a></li>
                        <li><a href="#">3.删除</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        </tbody>
        </table>
        <hr />
        </form>
        </div>
        </div>

        </div>
        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>
    </div>
    <!-- content end -->

    <% include footer.ejs %>
