<% include header.ejs %>
  <!-- content start -->
  <div class="admin-content">

    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">公告界面</strong> / <small>Announcement</small>
        </div>
      </div>
        <hr />
      <div class="am-g">
          <div class="am-u-md-6">
              <div class="am-panel am-panel-default">
                  <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">学院通知<span class="am-icon-chevron-down am-fr" ></span></div>
                  <div class="am-panel-bd am-collapse am-in am-cf" >
                      <ul class="am-comments-list admin-content-comment">
                          <li class="am-comment">

                              <div class="am-comment-main">
                                  <header class="am-comment-hd">
                                      <div class="am-comment-meta"><a href="#" class="am-comment-author">教务处</a> <time class="am-fr">2014-7-12 15:30</time></div>
                                  </header>
                                  <div class="am-comment-bd"><p>遵循 “移动优先（Mobile First）”、“渐进增强（Progressive enhancement）”的理念，可先从移动设备开始开发网站，逐步在扩展的更大屏幕的设备上，专注于最重要的内容和交互，很好。</p>
                                  </div>
                              </div>
                          </li>

                          <li class="am-comment">
                              <div class="am-comment-main">
                                  <header class="am-comment-hd">
                                      <div class="am-comment-meta"><a href="#" class="am-comment-author">教务处</a> <time class="am-fr">2014-7-12 15:30</time></div>
                                  </header>
                                  <div class="am-comment-bd"><p>遵循 “移动优先（Mobile First）”、“渐进增强（Progressive enhancement）”的理念，可先从移动设备开始开发网站，逐步在扩展的更大屏幕的设备上，专注于最重要的内容和交互，很好。</p>
                                  </div>
                              </div>
                          </li>
                          <li class="am-comment">
                              <div class="am-comment-main">
                                  <header class="am-comment-hd">
                                      <div class="am-comment-meta"><a href="#" class="am-comment-author">教务处</a> <time class="am-fr">2014-7-12 15:30</time></div>
                                  </header>
                                  <div class="am-comment-bd"><p>遵循 “移动优先（Mobile First）”、“渐进增强（Progressive enhancement）”的理念，可先从移动设备开始开发网站，逐步在扩展的更大屏幕的设备上，专注于最重要的内容和交互，很好。</p>
                                  </div>
                              </div>
                          </li>
                          <li class="am-comment">
                              <div class="am-comment-main">
                                  <header class="am-comment-hd">
                                      <div class="am-comment-meta"><a href="#" class="am-comment-author">教务处</a> <time class="am-fr">2014-7-12 15:30</time></div>
                                  </header>
                                  <div class="am-comment-bd"><p>遵循 “移动优先（Mobile First）”、“渐进增强（Progressive enhancement）”的理念，可先从移动设备开始开发网站，逐步在扩展的更大屏幕的设备上，专注于最重要的内容和交互，很好。</p>
                                  </div>
                              </div>
                          </li>
                      </ul>
                      <ul class="am-pagination am-fr admin-content-pagination">
                          <li class="am-disabled"><a href="#">&laquo;</a></li>
                          <li class="am-active"><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">&raquo;</a></li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="am-u-md-6">
              <div class="am-panel am-panel-default">
                  <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">课堂公告<span class="am-icon-chevron-down am-fr" ></span></div>
                  <div class="am-panel-bd am-collapse am-in am-cf" >
                      <ul class="am-comments-list admin-content-comment">
                          <li class="am-comment">
                              <div class="am-comment-main">
                                  <header class="am-comment-hd">
                                      <div class="am-comment-meta"><a href="#" class="am-comment-author">软件需求管理</a> <time class="am-fr">2014-7-12 15:30</time></div>
                                  </header>
                                  <div class="am-comment-bd"><p>遵循 “移动优先（Mobile First）”、“渐进增强（Progressive enhancement）”的理念，可先从移动设备开始开发网站，逐步在扩展的更大屏幕的设备上，专注于最重要的内容和交互，很好。</p>
                                  </div>
                              </div>
                          </li>

                          <li class="am-comment">
                              <div class="am-comment-main">
                                  <header class="am-comment-hd">
                                      <div class="am-comment-meta"><a href="#" class="am-comment-author">软件需求管理</a> <time class="am-fr">2014-7-12 15:30</time></div>
                                  </header>
                                  <div class="am-comment-bd"><p>遵循 “移动优先（Mobile First）”、“渐进增强（Progressive enhancement）”的理念，可先从移动设备开始开发网站，逐步在扩展的更大屏幕的设备上，专注于最重要的内容和交互，很好。</p>
                                  </div>
                              </div>
                          </li>
                          <li class="am-comment">
                              <div class="am-comment-main">
                                  <header class="am-comment-hd">
                                      <div class="am-comment-meta"><a href="#" class="am-comment-author">软件需求管理</a> <time class="am-fr">2014-7-12 15:30</time></div>
                                  </header>
                                  <div class="am-comment-bd"><p>遵循 “移动优先（Mobile First）”、“渐进增强（Progressive enhancement）”的理念，可先从移动设备开始开发网站，逐步在扩展的更大屏幕的设备上，专注于最重要的内容和交互，很好。</p>
                                  </div>
                              </div>
                          </li>

                          <li class="am-comment">
                              <div class="am-comment-main">
                                  <header class="am-comment-hd">
                                      <div class="am-comment-meta"><a href="#" class="am-comment-author">软件需求管理</a> <time class="am-fr">2014-7-12 15:30</time></div>
                                  </header>
                                  <div class="am-comment-bd"><p>遵循 “移动优先（Mobile First）”、“渐进增强（Progressive enhancement）”的理念，可先从移动设备开始开发网站，逐步在扩展的更大屏幕的设备上，专注于最重要的内容和交互，很好。</p>
                                  </div>
                              </div>
                          </li>
                      </ul>
                      <ul class="am-pagination am-fr admin-content-pagination">
                          <li class="am-disabled"><a href="#">&laquo;</a></li>
                          <li class="am-active"><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">&raquo;</a></li>
                      </ul>
                  </div>
              </div>
          </div>



    </div>

      <hr>

    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->
<% include footer.ejs %>