<% include header.ejs %>
<!-- content start -->
<div class="admin-content">
<div class="admin-content-body">
<div class="am-cf am-padding am-padding-bottom-0">
    <div class="am-fl"><strong class="am-text-primary am-text-lg">校园信息管理</strong> / <small>Person Class</small></div>
</div>

<hr/>


<div class="am-g">
<div class="am-u-sm-12">
    <div class="am-u-sm-8 am-u-md-3">
        <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}">
                <option value="option1">所有类别</option>
                <option value="option2">必修课</option>
                <option value="option3">限选课</option>
                <option value="option3">公选课</option>
                <option value="option3">体育课</option>
            </select>
        </div>
    </div>
    <div class="am-u-sm-8 am-u-md-3">
        <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}">
                <option value="option1">上课时间</option>
                <option value="option2">周一</option>
                <option value="option3">周一</option>
                <option value="option3">周一</option>
                <option value="option3">周一</option>
                <option value="option3">周一</option>
                <option value="option3">周一</option>
            </select>
        </div>
    </div>
    <div class="am-u-sm-8 am-u-md-3">
        <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}">
                <option value="option1">2016-2017-1</option>
                <option value="option2">2016-2017-2</option>
                <option value="option3">2015-2016-1</option>
                <option value="option3">2015-2016-2</option>
                <option value="option3">2014-2015-1</option>
                <option value="option3">2014-2015-2</option>
            </select>
        </div>
    </div>
    <div class="am-u-sm-8 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
    </div>
</div>


<div class="am-u-sm-12">
<form class="am-form">
<table class="am-table am-table-striped am-table-hover table-main">
<thead>
<tr>
    <th class="table-id">编号</th><th class="table-title">课程</th><th class="table-type">类别</th><th class="table-author am-hide-sm-only">教师</th><th class="table-date am-hide-sm-only">上课时间</th><th class="table-set">操作</th>
</tr>
</thead>
<tbody>
<tr>
    <td>1</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 学习</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 管理</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>2</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>3</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>4</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>5</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>6</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>7</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>8</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>9</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>10</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>11</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>12</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>13</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>14</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试14号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>15</td>
    <td><a href="#">Business management</a></td>
    <td>default</td>
    <td class="am-hide-sm-only">测试1号</td>
    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
    <td>
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </td>
</tr>
</tbody>
</table>
<hr />
<p>注：.....</p>
</form>
</div>
</div>
</div>

<footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>
</div>
<!-- content end -->

<% include footer.ejs %>
