<% include header.ejs %>
<div class="admin-content">
    <div class="admin-content-body">
<!--<table class="am-table am-table-bd am-table-striped admin-content-table" style="width: 400px">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>您的课表</th><th>周一</th><th>周二</th><th>周三</th><th>周四</th><th>周五</th><th>周六</th><th>周日</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
        <!--<td><div class="am-btn am-btn-success " id="list-toggle">OPEN</div></td><td>呵呵呵</td>-->
        <!--<td><a href="#">基兰会获得BUFF</a></td>-->
        <!--<td><span class="am-badge">+22</span></td>-->
        <!--<td>-->
            <!--<div class="am-dropdown" data-am-dropdown>-->
                <!--<button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>-->
                <!--<ul class="am-dropdown-content">-->
                    <!--<li><a href="#">1. 编辑</a></li>-->
                    <!--<li><a href="#">2. 下载</a></li>-->
                    <!--<li><a href="#">3. 删除</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr class="list-content">-->
        <!--<td>5</td><td>呵呵呵</td>-->
        <!--<td><a href="#">基兰会获得BUFF</a></td>-->
        <!--<td><span class="am-badge">+22</span></td>-->
        <!--<td>-->
            <!--<div class="am-dropdown" data-am-dropdown>-->
                <!--<button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle"  data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>-->
                <!--<ul class="am-dropdown-content">-->
                    <!--<li><a href="#">1. 编辑</a></li>-->
                    <!--<li><a href="#">2. 下载</a></li>-->
                    <!--<li><a href="#">3. 删除</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><div class="am-btn am-btn-success " id="list-toggle">OPEN</div></td><td>呵呵呵</td>-->
        <!--<td><a href="#">基兰会获得BUFF</a></td>-->
        <!--<td><span class="am-badge">+22</span></td>-->
        <!--<td>-->
            <!--<div class="am-dropdown" data-am-dropdown>-->
                <!--<button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>-->
                <!--<ul class="am-dropdown-content">-->
                    <!--<li><a href="#">1. 编辑</a></li>-->
                    <!--<li><a href="#">2. 下载</a></li>-->
                    <!--<li><a href="#">3. 删除</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->

<div class="am-g">

    <div class="am-u-sm-12">
        <div class="am-panel  am-panel-default">
            <div class="am-panel-hd am-cf">杭州电子科技大学
                <ul class="am-pagination am-fr admin-content-pagination">
                    <li class="am-disabled"><a href="#">&laquo;</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>

            <ul class="am-list am-list-static am-list-border am-list-striped" >
                <li>
                    <span class="am-badge am-badge-default">2016/11/13</span>
                    <a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                <li>
                    <span class="am-badge am-badge-default">2016/11/13</span>
                    <a href="#">我把最深沉的秘密放在那里。</a></li>
                <li>
                    <span class="am-badge am-badge-default">2016/11/13</span>
                    <a href="#">你不懂我，我不怪你。</a></li>
            </ul>

        </div>
    </div>
</div>
<div class="am-g">
    <div class="am-u-sm-4">
        <div class="am-panel  am-panel-default">
            <div class="am-panel-bd">
                <div class="am-panel-hd am-cf">选择学院</div>
                <ul class="am-list am-list-static am-list-border">
                    <li>
                        <a>计算机学院</a></li>
                    <li>
                        <a>计算机学院</a></li>
                    <li>
                        <a>计算机学院</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="am-u-sm-8">
        <div class="am-panel  am-panel-default">
            <div class="am-panel-hd am-cf">计算机学院
                <ul class="am-pagination am-fr admin-content-pagination">
                    <li class="am-disabled"><a href="#">&laquo;</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
            <ul class="am-list am-list-static am-list-border">
                <li>
                    <span class="am-badge am-badge-default">2016/11/13</span>
                    每个人都有一个死角， 自己走不出来，别人也闯不进去。</li>
                <li>
                    <span class="am-badge am-badge-default">2016/11/13</span>
                    每个人都有一个死角， 自己走不出来，别人也闯不进去。</li>
                <li>
                    <span class="am-badge am-badge-default">2016/11/13</span>
                    每个人都有一个死角， 自己走不出来，别人也闯不进去。</li>
            </ul>
            <!--<ul class="am-pagination am-fr admin-content-pagination">-->
                <!--<li class="am-disabled"><a href="#">&laquo;</a></li>-->
                <!--<li class="am-active"><a href="#">1</a></li>-->
                <!--<li><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">4</a></li>-->
                <!--<li><a href="#">5</a></li>-->
                <!--<li><a href="#">&raquo;</a></li>-->
            <!--</ul>-->
        </div>
    </div>


</div>


</div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<style>
    .list-content{
        display: none;
    }
</style>
<script>
    $(function(){
        $("#list-toggle").click(function(){
            $(".list-content").slideToggle(1000);
        });
    })
</script>
<% include footer.ejs %>